
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


a.button2 {
    display: inline-block;
    padding: 0.5em 3em;
   border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.15s;
}

    a.button2:hover {
        color: #DDDDDD;
        border-color: #DDDDDD;
    }

@media all and (max-width:30em) {
     a.button2 {
        display: block;
        margin: 0.4em auto;
    }
}
.content {
    margin: 5% 1% 200px 200px;
}


nav{
    background-color:black;
}

body {
    background-image: url('../../img/imagem.jpg');
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;
}
.mydatagrid {
    width: 80%;
    border: none 0px transparent;
    min-width: 80%;
}
.mydatagrid2 {
    width: 20%;
    border: none 0px transparent;
    min-width: 80%;
}

.header {
    border-radius: 0px;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: White;
    border: none 0px transparent;
    height: 25px;
    text-align: center;
    font-size: 16px;
}

.rows {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000;
    min-height: 25px;
    text-align: left;
    border: none 0px transparent;
}

    .rows:hover {
        background-color: deeppink;
        font-family: 'Montserrat', sans-serif;
        color: green;
        text-align: left;
    }

.selectedrow {
    background-color: #ff8000;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.mydatagrid a  {
    background-color: Transparent;
    padding: 5px 5px 5px 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

    .mydatagrid a:hover  {
        background-color: ;
        color: #000;
    }

.mydatagrid span {
    background-color: #c9c9c9;
    color: #000;
    padding: 5px 5px 5px 5px;
}

.pager {
    background-color: #646464;
    font-family: 'Montserrat', sans-serif;
    color: White;
    height: 30px;
    text-align: left;
}

.mydatagrid td {
    padding: 5px;
}

.mydatagrid th {
    padding: 5px;
}

* {
    box-sizing: border-box
}


.container {
    padding: 20px;
    width: 900px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
    -moz-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
    box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
}

select {
    width: 18%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
}

input[type=phone] {
    width: 81%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
}

    input[type=text]:focus, input[type=password]:focus, input[type=phone]:focus, select:focus {
        background-color: #ddd;
        outline: none;
    }




button {
    background-color: #0eb7f4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}

    button:hover {
        opacity: 1;
    }



@media screen and (max-width: 300px) {
    .signupbtn {
        width: 100%;
    }
}

.youtubeBtn {
    position: fixed;
    right: 20px;
    transform: translatex(-50%);
    top: 20px;
    cursor: pointer;
    transition: all .3s;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    background: #000;
    padding: 2px 10px;
    border-radius: 5px;
}

    .youtubeBtn i {
        font-size: 20px;
        float: left;
    }

    .youtubeBtn a {
        color: #ff0000;
        animation: youtubeAnim 1000ms linear infinite;
        float: right;
    }

        .youtubeBtn a:hover {
            color: #c9110f;
            transition: all .3s ease-in-out;
        }

    .youtubeBtn i:active {
        transform: scale(.9);
        transition: all .3s ease-in-out;
    }

    .youtubeBtn span {
        font-family: 'Lato';
        font-weight: bold;
        color: #fff;
        display: block;
        font-size: 12px;
        float: right;
        line-height: 20px;
        padding-left: 5px;
    }



#footer {
    background-color: #212121;
    height: 60px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    line-height: 50px;
    color: #aaa;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .5em;
}
